*{
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)), url(image/back.jpeg);
  background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
img{
	width: 30%;
	float: left;
	margin: 1.66%;
border-radius: 5%;
	 }
   p{
   	font-family: Raleway;
    margin-left: 1.66%;
    font-weight: 800;
    font-size: 25px;
    text-transform: uppercase;
    border-bottom: 3px solid #fff;
   width: 30%;
   padding-bottom: 20px;
   color: #fff;
  }
